extends ../layout.jade
include ../partials/header.jade
block basetag
  -var base = '../'

block content
  +header('about')
  #about.content
    h1 About me
    p Hello there, I'm #[b Simon Johansson]. When I am not lifting weights or drinking way too much coffee I #[i develop open-source projects]. I am currently studying Master of Sciences in Interaction and Design at Umeå University. 

    p Master of Sciences in Interaction and Design is a 5 year education, which is basically a blend of computer science and behavioral psychology. During these years I've found that I love all the quirky bits of Javascript and the Open-Source community, of which I'm trying to contribute to with modules written in Node.js.

    p When working on a project I love to be a part of every part in development; UX, Backend and Frontend. When I develop I use Node.js/JS with the ES6+ specification, Grunt for task automation and Mocha for testing. I use Jade for fast HTML mark-up, SASS to make CSS even more powerful and to increase scalability and JQuery to eliminate cross-browser incompatibilities and to write even faster code. For UX I use proto.io for fast prototyping, Balsamiq for wireframing and Adobe Photoshop for design. The user is always my focus!

    p If you're interested in what projects I've participated in, please see the #[+pagelink('projects', 'Project section')]. 

    button CV/Resume (PDF) 