extends ../layout.jade

block content
  #description
    h1 Simon Johansson
    h2 UI/UX Student, Open-Source Developer, Weightlifter, a general fun guy
    p I strive to create meaningful sentences that can be repeated to give an appearance of a cool description, which may double as a block of text. Could've used Lorem Ipsum, but I decided not to.
    p Various tools I've used:

    