extends ../layout.jade
include ../partials/header.jade
block basetag
  -var base = '../'

block content
  +header('index')
  #description.content
    h2 I am an #[strong UI/UX Student], #[strong Open-Source Developer] and at least 7 other things. Mostly based in Umeå.
    h3 Read more #[+pagelink('about', 'About me')] or see a list of #[+pagelink('projects', 'Projects')] I've worked on. Or you can just get in #[+pagelink('contact', 'Contact')] with me

    