extends ../layout.jade

block content  
  #projects
    h3 Projects
    ul
      li
        div
          a(href="https://github.com/simonlovesyou/file-wipe")
            h4.project-title File-wipe
          p A npm module for wiping a file from the file system completely so that it cannot be retrieved later with file retrieval programs.
          span
            p What I did:
          ul
            li 
              p Everything; 
            li 
              p Testing,
            li
              p Development
          ul
            li
              a(href="https://github.com/simonlovesyou/file-wipe") Github
            li
              a(href="https://www.npmjs.com/package/file-wipe") npm
      li
        div
          a(href="https://github.com/simonlovesyou/file-wipe")
            h4.project-title Simon Says
          p A filesystem management tool built with Node.js. Tell Simon Says to watch a folder and it will quietly in the background organize the contents for you based on the rules you give it. This is a WIP, please see the Github page to see the development progress.
          span
            p What I did:
          ul
            li 
              p Everything; 
            li 
              p Testing, 
            li
              p Development,
            li
              p Design
          ul
            li
              a(href="https://github.com/simonlovesyou/Simon-Says") Github
  include ../partials/footer.jade