block footer  
  footer 
    #contact-footer
      p From Umeå with #[strong ♥]
      ul
        li
          a(href="https://www.github.com/simonlovesyou/") Github
        li
          a(href="https://www.linkedin.com/in/simon-johansson-85a762b1?trk=nav_responsive_tab_profile") LinkedIn
        li
          a(href="https://www.twitter.com/simonjohansosn") Twitter
        li
          a(href="mailto:Simonljohansson92@gmail.com") E-Mail