block footer  
  footer 
    #contact
      h3 Contact
      span 
        p You can get in contact with me in various ways, most notably on:
      ul
        li
          a(href="https://www.github.com/simonlovesyou/") 
            h4 Github
          p I love Open-Source and I try to contribute to the awesome community with what I like to do
        li
          a(href="https://www.twitter.com/simonjohansosn")
            h4 Twitter
          p Where I go to try and be funny, usually in Swedish. I also try to retweet cool stuff
        li
          a(href="mailto:Simonljohansson92@gmail.com")
            h4 Mail
          p My email
        li
          a(href="LINKEDIN")
            h4 LinkedIn
          p My LinkedIn where I try to look professional