mixin navlink(sub, inner, className)
  a(href=(dev ? 'http://localhost:8080/' : 'http://simonsager.se/') + sub class=className) #{inner}

  header
    .logo
      a(href="http://www.simonsager.se/new/index.html")
        h1 SJ
    nav
      ul
        li
          .nav-link
            a(href="http://simonsager.se/new/about.html") About
        li
          .nav-link
            a(href="http://simonsager.se/new/projects.html") Projects
        li
          .nav-link
            a(href="http://simonsager.se/new/contact.html") Contact