mixin navlink(sub, inner, className)
  a(href=(dev ? 'http://localhost:8080/' : 'http://simonsager.se/') + sub class=className) #{inner}

mixin header(active)
  header
    .logo
      +pagehref('')(class=(active=='index' ? 'logo-border' : '')) #[h1 SJ]

    nav
      ul
        li
          .nav-link
            if active == 'about'
              +navlink('about', 'About', 'border')
            else
              +navlink('about', 'About')
        li
          .nav-link
            if active == 'projects'
              +navlink('projects', 'Projects', 'border')
            else
              +navlink('projects', 'Projects')
        li
          .nav-link
            if active == 'contact'
              +navlink('contact', 'Contact', 'border')
            else
              +navlink('contact', 'Contact')